---
---


h1 {
	font-family: Lato;
}
.jumbotron {
	text-align: center;
}
.card {
	padding: 30px;
	background-color: rgba(0, 0, 0, 0.1);

}
.bird, .plant {
	img {
		width: 100%;
	}
	.yes {
		color: red;
	}
	.no {
		color: grey;
	}
}
.row {
	width: 100%;
}